.work-sans-uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.sec{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 768px;
}
/* Mushfika.J style */
h5{
    width: 128px;
    height: 33px;
}
.head{
color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
}
li{
  list-style: none;
}
/* Download Resume */
.btn-primary{
width: 196px;
height: 23px;
margin-top: 50px;
padding: 17px 24px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 1);
border-radius: 8px;
opacity: 0.8;
}
/* header style */
.parent{
background-image: url('assets/Hero-bg.png');
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 32;
}
.parent-title{
  color: #0D1321;
  font-family: Azeret Mono;
  font-size: 40px;
  font-weight: 700;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}
.perent-description{
width: 852px;
height: 52px;
opacity: 0.7;
color: #0D1321;
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.parent-button{
width: 196px;
height: 23px;
color: #FFFFFF;
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgba(13, 19, 33, 1);
width: 244px;
height: 65px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 21px 24px 21px 24px;
cursor: pointer;
}
/* main style */
.container{
padding: 48px;
border-radius: 15px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.section-title{
width: 852px;
height: 37px;
color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
text-align: center;
margin-left: 160px;
}
.section-description{
width: 852px;
height: 52px;
opacity: 0.7;
color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-left: 160px;
}
.section-header{
  width: 390px;
  height: 72px;
  font-family: Azeret Mono;
  font-weight: 700;
  font-size: 24px;
  color: rgba(13, 19, 33, 0.7)
}
.description{
width: 468px;
height: 52px;
color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-weight: 400;
font-size: 16px;
text-align: left;
opacity: 0.7;
}
.section-button{
width: 131px;
height: 23px;
color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
width: 170px;
height: 40px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 8;
padding: 10px 18px 10px 18px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 1);
opacity: 0.7;
margin-top: 57px;
}
.layer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* section style */
.sec-title{
  width: 852px;
  height: 37px;
  font-family: Azeret Mono;
  font-weight: 800;
  font-size: 32px;
  color: #0D1321;
  text-align: center;
  margin-left: 144px;
  margin-right: 144px;
}
.sec-description{
  width: 852px;
  height: 52px;
  font-family: Azeret Mono;
  font-weight: 400;
  font-size: 16px;
  color: rgba(13, 19, 33, 1);
  text-align: center;
  opacity: 0.7;
  margin-left: 144px;
  margin-right: 144px;
}
video{
  border-radius: 16px;
  margin: 48px auto;
}
/* skill style */
.skill-tle{
  width: 852px;
  height: 37px;
  font-family: Azeret Mono;
  font-weight: 800;
  font-size: 32px;
  color: #0D1321;
  text-align: center;
  margin-left: 247px;
  margin-right: 247px;
}
.skill-description{
  width: 852px;
  height: 52px;
  font-family: Azeret Mono;
  font-weight: 400;
  font-size: 16px;
  color: rgba(13, 19, 33, 1);
  opacity: 0.7;
  text-align: center;
  margin-left: 247px;
  margin-right: 247px;
}
.skill-container{
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  gap: 24px;
}
.skill_1{
width: 364px;
height: 299px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 40px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}
.skill_2{
width: 364px;
height: 299px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 40px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}
.skill_3{
  width: 364px;
  height: 299px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
.skill-title{
width: 284px;
height: 36px;
font-family: Azeret Mono;
font-weight: 800;
font-size: 24px;
}
.skill-des{
  width: 284px;
  height: 52px;
  font-family: Azeret Mono;
  font-weight: 400;
  font-size: 16px;
  color: rgba(13, 19, 33, 1);
  opacity: 0.7;
}
u{
  width: 284px;
  height: 19px;
  font-family: Azeret Mono;
  font-weight: 400;
  font-size: 16px;
  color: #0D1321;
}
/* last section style */
.img{
  background-image: url('assets/handshake.jpg');
width: 1140px;
height: 313px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 64px 48px 64px 48px;
border-radius: 16px;
background: url(Email),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
}
.main-head{
width: 292px;
height: 36px;
color: rgba(255, 255, 255, 1);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
margin-left: 250px;
}
.main-pragraph{
  width: 606px;
  height: 52px;
  font-family: Azeret Mono;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  margin-left: 247px;
  margin-right: 247px;
}
.main-con{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 24px 228px;
  margin-bottom: 64px;
}
.main-contai{
  width: 548px;
  height: 57px;
  border-radius: 8px;
  color: #FFFFFF;
  gap: 10;
  padding: 0px 20px;
}
input[type="submit"]{
width: 80px;
height: 23px;
color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
textarea{
width: 548px;
height: 57px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 19px 20px 19px 20px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgba(255, 255, 255, 1);
}
.main-container{
width: 90px;
height: 40px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px;
background: rgba(255, 255, 255, 1);
}

/* foooter style */
.footer-container{ 
width: 1440px;
height: 100px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: flex-start;
gap: 32;
padding: 32px 15px 32px 15px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
}
.footer-title{
width: 456px;
height: 23px;
color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
display: flex;
letter-spacing: 0%;
text-align: center;
margin-right: 50px;
}
.footer-img{
width: 157.01px;
height: 36px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 24;
}