.work-sans-uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.sec{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 768px;
}
/* Mushfika.J style */
h5{
    width: 128px;
    height: 33px;
}
.head{
color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
}
li{
  list-style: none;
}
/* Download Resume */
.btn-primary{
width: 196px;
height: 23px;
margin-top: 50px;
padding: 17px 24px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 1);
border-radius: 8px;
opacity: 0.8;
}
/* header style */
.parent{
background-image: url('assets/Hero-bg.png');
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 32;
}
.parent-title{
  color: #0D1321;
  font-family: Azeret Mono;
  font-size: 40px;
  font-weight: 700;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}
.perent-description{
width: 852px;
height: 52px;
opacity: 0.7;
color: #0D1321;
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.parent-button{
width: 196px;
height: 23px;
color: #FFFFFF;
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgba(13, 19, 33, 1);
width: 244px;
height: 65px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 21px 24px 21px 24px;
cursor: pointer;
}
/* main style */
.container{
padding: 48px;
border-radius: 15px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.section-title{
width: 852px;
height: 37px;
color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
text-align: center;
margin-left: 160px;
}
.section-description{
width: 852px;
height: 52px;
opacity: 0.7;
color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-left: 160px;
}
.section-header{
  width: 390px;
  height: 72px;
  font-family: Azeret Mono;
  font-weight: 700;
  font-size: 24px;
  color: rgba(13, 19, 33, 0.7)
}
.description{
width: 468px;
height: 52px;
color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-weight: 400;
font-size: 16px;
text-align: left;
opacity: 0.7;
}
.section-button{
width: 131px;
height: 23px;
color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
width: 170px;
height: 40px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 8;
padding: 10px 18px 10px 18px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 1);
opacity: 0.7;
margin-top: 57px;
}
.layer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}